header {
    margin:5px;
    margin-bottom: 0px;
}

#map {
    margin:5px;
    position: absolute;
    left: 0;
    width: 99% !important;
    height: 93% !important;
}

#nav {
    margin-bottom:0px;
}

body {
    width:100%;
    height:100%;
}

#wrapper {
    z-index:10000;
    position:absolute;
    width:250px;
    height:93%;
    margin:5px;
    display : none;
    padding:10px;
}

#information {
    z-index:10000;
    position:absolute;
    width:400px;
    height:93%;
    margin:5px;
    right:0px;
    display : none;
    padding:10px;
    text-align:justify;
}

#information p {
    margin:0;
    display:inline-block;
}

#information li {
    margin-bottom:10px;
}

#nomStation {
    font-weight: bold;
    text-align :center;
}

.panel-heading {
    cursor:pointer;
}

#wrapper ul {
    width:100%;
}

#wrapper li {
    height: 40px;
}

#wrapper button {
    margin:0px;
}

#typeCombobox {
    width:100%;
}

.list-group  {
    overflow-y:auto;
    height:400px;
}

#analyses li {
    margin:0;
}

.glyphicon-chevron-down {
    z-index:10001;
}