header {
    margin:5px;
    margin-bottom: 0px;
}

#map {
    margin:5px;
    position: absolute;
    left: 0;
    width: 99% !important;
    height: 92% !important;
    z-index:10000;
}

#nav {
    margin-bottom:0px;
}

body {
    width:100%;
    height:100%;
}

#wrapper {
    z-index:10001;
    position:absolute;
    width:250px;
    height:93%;
    margin:5px;
    display : none;
    padding:10px;
}

#information {
    z-index:10001;
    position:absolute;
    width:450px;
    height:92%;
    margin:5px;
    right:0px;
    display : none;
    padding:10px;
    text-align:justify;
}

#information p {
    margin:0;
    display:inline-block;
}

#nomStation {
    font-weight: bold;

    text-align :center;
}

.panel-heading {
    cursor:pointer;
}

#wrapper ul {
    width:100%;
}

#wrapper li {
    height: 40px;
}

#wrapper button {
    margin:0px;
}

#typeCombobox {
    width:100%;
}

.list-group  {
    overflow-y:auto;
    height:300px;
}

.list-group-item  {
    padding:5px;
    cursor:pointer;
}

.bootstrap-select {
    margin-top:5px;
    margin-bottom:5px;
}

#analysesBody {
    margin: 0;
    margin-top:10px;
    bottom:0px;
    display:none;
}

#filtersBody {
    display:none;
}

.glyphicon-chevron-down {
    z-index:10002;
}

#list-analysis {
    display:none;
}

#staticButton {
    width:90%;
    position:absolute;
    top:575px;
    display:none;
}

#notfoundimg {
    width:100%;
}

#loading {
    display : none;
    margin-left:45%;
    margin-top:30%;
}

#toggleButton {
    float:left;
    margin-top:2px;
    margin-left:-42px;
    width:35px;
    height:35px;
    z-index: 10005;
    cursor:pointer;
}

#toggleButtonImg {
    margin-left:2px;
    margin-top:2px;
    width:80%;
    height:80%;
}

#openInformation {
    display:none;
    position : absolute;
    width: 50px;
    height: 100px;
    top : 45%;
    right:10px;
    z-index: 10006;
}